<ion-header>
  <ion-toolbar>
    <ion-title>
      <ion-breadcrumb href="#munieco">
        <ion-icon name="accessibility-outline"></ion-icon>
        Inicio One
      </ion-breadcrumb>
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <!-- Creo los btn que me va a llevar a las paginas -->

  <ion-button routerLink="/alert"  color="btn btn-min light">Alertas

  </ion-button>
  <ion-button routerLink="/action-sheet"  color="btn btn-min light">Hoja de Accciones

  </ion-button>




</ion-content>